<html>
    <head>
        <title>PRICE MY BOAT</title>
    </head>
    <body>
    
    <ul>
        <h1>Please see quick start instructions below. </h1>
       
        <p>Configurable parameters are as follows:</p>
        <li>length: e.g. 45 </li>
        <li>berths: e.g. 2  </li>
        <li>age: e.g. 30 </li>
        <li>model: e.g. semitrad </li>
        <li>toilet: e.g. pumpout </li>

        <p>The following parameters are assumed:</p>
        <li>dealer = 'Error': no dealer </li>
        <li>project = False: not a project boat </li>
        <li>adLength = 1431: sample median advert length  </li>
        <li>location = 'London': assume within london </li>

        <p>Categorical variables entered incorrectly will return accepted values. </p>

        <p> Example request: <br> http://localhost:5000/v1/api?length=45&berths=2&age=30&model=trad&toilet=cassette </p>

	</ul>
    </body>
</html>